.negocios {

    .list-group {

        .ciudades {
            text-decoration: none;
            @include font_style(1.1rem, black,$tipografia_principal);
        }

        .list-group-item {
            background-color: white;
        }

        .item-title {
            background-color: black;
            color: $oro;
        }

        .lugar {
            @extend .ciudades;
            font-size: 1rem;
            list-style: none;

            &:hover {
                background-color: $oro;
            }

        }
    }

    .masinfo {
        @include font_style(1.8rem, black,$tipografia_principal);
        border-top: black solid;
        border-bottom: black solid;
        margin-top: 2rem;
    }
}