footer {
    width: 100%;
    height: 100%;
    background-color: black;

    h3 {
        @include font_style(1.6rem, white, $tipografia_navbar_footer);
        padding: 1rem;
        padding-top: 1rem;
    }

    .logos {
        list-style: none;
    }

    .logo-facebook {
        width: map-get($estilos_img_footer, ancho-logo);
        height: map-get($estilos_img_footer, alto-logo);
        transition: transform map-get($estilos_img_footer, tiempo-transicion);

        &:hover {
            transform: scale(1.25);
        }
    }

    .logo-whatsapp {

        width: map-get($estilos_img_footer, ancho-logo);
        height: map-get($estilos_img_footer, alto-logo);
        transition: transform map-get($estilos_img_footer, tiempo-transicion);

        &:hover {
            transform: scale(1.25);
        }
    }

    .logo-instagram {
        width: map-get($estilos_img_footer, ancho-logo);
        height: map-get($estilos_img_footer, alto-logo);
        transition: transform map-get($estilos_img_footer, tiempo-transicion);

        &:hover {
            transform: scale(1.25);
        }
    }


    .img-responsive {
        width: auto;
        height: 3rem;
    }


}