
main{

    .bg-main{
        background: url(../assets/abejas-miel-3.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .texto-presentacion {
        @include font_style(2.2rem, $oro, $tipografia_principal);
    }

}


