.bg-secundario{

    h1{        
        @include flex-center;
        @include font_style(2.5rem, black, $tipografia_principal);
    }

    background: rgb(0, 0, 0) no-repeat center center fixed;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(233, 173, 19, 1) 15%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 75vh;

    .alineacion{
        min-height: 50vh;
    }
}

.mb-6{
    margin-bottom: 5rem;
}