.card {

    .precarga {
        background: transparent url(../assets/loading.gif) center no-repeat;
    }

    .img-producto1 {
        @include card_styles;

        &:hover {
            transform: scale(1.05);
        }
    }

    .img-producto2 {
        @include card_styles;

        &:hover {
            transform: scale(1.05);
        }
    }

    .img-producto3 {
        @include card_styles;
        &:hover {
            transform: scale(1.05);
        }
    }

    .img-producto4 {
        @include card_styles;

        &:hover {
            transform: scale(1.05);
        }
    }

    .card-body {
        .pie-de-foto {
            @include font_style(1.3rem, black, $tipografia_principal);
        }

        .style-button {
            background-color: #000;
            border: 2px solid black;
            @include font_style(1.2rem, $oro, $tipografia_principal);

            &:hover {
                background-color: $oro;
                border: 2px solid black;
                @include font_style(1.2rem, black, $tipografia_principal);

            }
        }
    }
}